.builder {
    display: flex;
    flex-direction: row;
}

.builder-process {
    flex-basis: 50%;
    flex-grow: 1;
    background: #666;
}

.builder-character-sheet {
    padding: 1em;
    flex-basis: 50%;
    flex-grow: 1;
}

.builder-process > .builder-sequence > .step {
    border: 1px solid #000;
    border-radius: 4px;
    margin: 0.5em;
    padding: 0.5em;
    background: #ccc;
    color: #000;
}

.step-help {
    float: right;
}

.step label, .step .title {
    font-weight: bold;
}

.step .items label {
    font-weight: normal;
}