.assign-ability-scores .ability-scores {
    display: flex;
}

.assign-ability-scores .ability-score {
    display: inline-block;
    text-align: center;
    padding: 1em;
}

.assign-ability-scores .ability-score .dragAndDropBucket {
    width: 32px;
    height: 32px;
    border: 2px dotted #000;
}

.assign-ability-scores .ability-score .dragAndDropBucket.dragAndDropFull {
    border: none !important;
}

.assign-ability-scores .dragAndDropItem {
    border: 1px solid #000;
    background: #ccc;
    display: inline-block;
    text-align: center;
    line-height: 32px;
    width: 32px;
    height: 32px;
}

.assign-ability-scores .dragAndDropLocked .dragAndDropItem {
    background: #333;
    color: #fff;
    cursor: initial !important;
}

.assign-ability-scores .available-dice {
    display: inline-block;
}

.assign-ability-scores .available-dice .dragAndDropBucket {
    margin: 0 1em;
    min-width: 32px;
    height: 32px;
    border: 1px dotted #000;
    display: flex;
    padding: 0.5em;
}

.assign-ability-scores .available-dice .dragAndDropBucket .dragAndDropItem {
    margin-right: 0.5em;
}

.assign-ability-scores .available-dice .dragAndDropBucket .dragAndDropItem:last-of-type {
    margin-right: 0 !important;
}