.builder {
    display: flex;
}

.builder-process {
    width: 50%;
}

.builder-process > div > .step {
    border: 1px solid #000;
    border-radius: 4px;
    padding: 1em;
    margin: 0.5em 0;
}

.builder-character-sheet {
    width: 50%;
    margin-left: 1em;
}

.builder-character-sheet .title {
    font-weight: bold;
    font-size: 125%;
    margin-top: 1em;
}

/* Ryuutama */
.builder-ryuutama .step-AssignAbilityScores .buckets {
    display: flex;
}

.builder-ryuutama .step-AssignAbilityScores .bucket {
    display: inline-block;
    text-align: center;
    padding: 1em;
}

.builder-ryuutama .step-AssignAbilityScores .buckets .bucket-contents {
    width: 32px;
    height: 32px;
    border: 2px dotted #000;
}

.builder-ryuutama .step-AssignAbilityScores .bucket-full {
    border: none !important;
}

.builder-ryuutama .step-AssignAbilityScores .bucket-item {
    border: 1px solid #000;
    background: #ccc;
    display: inline-block;
    text-align: center;
    line-height: 32px;
    width: 32px;
    height: 32px;
}

.builder-ryuutama .step-AssignAbilityScores .bucket-locked .bucket-item {
    background: #333;
    color: #fff;
    cursor: initial !important;
}

.builder-ryuutama .step-AssignAbilityScores .available {
    display: inline-block;
}

.builder-ryuutama .step-AssignAbilityScores .available .bucket-contents {
    margin: 0 1em;
    min-width: 32px;
    height: 32px;
    border: 1px dotted #000;
    display: flex;
    padding: 0.5em;
}

.builder-ryuutama .step-AssignAbilityScores .available .bucket-item {
    margin-right: 0.5em;
}

.builder-ryuutama .step-AssignAbilityScores .available .bucket-item:last-of-type {
    margin-right: 0 !important;
}