.step-AssignAbilityScores .buckets {
    display: flex;
}

.step-AssignAbilityScores .bucket {
    display: inline-block;
    text-align: center;
    padding: 1em;
}

.step-AssignAbilityScores .bucket .dragAndDropBucket {
    width: 32px;
    height: 32px;
    border: 2px dotted #000;
}

.step-AssignAbilityScores .bucket .dragAndDropBucket.dragAndDropFull {
    border: none !important;
}

.step-AssignAbilityScores .dragAndDropItem {
    border: 1px solid #000;
    background: #ccc;
    display: inline-block;
    text-align: center;
    line-height: 32px;
    width: 32px;
    height: 32px;
}

.step-AssignAbilityScores .dragAndDropLocked .dragAndDropItem {
    background: #333;
    color: #fff;
    cursor: initial !important;
}

.step-AssignAbilityScores .available {
    display: inline-block;
}

.step-AssignAbilityScores .available .dragAndDropBucket {
    margin: 0 1em;
    min-width: 32px;
    height: 32px;
    border: 1px dotted #000;
    display: flex;
    padding: 0.5em;
}

.step-AssignAbilityScores .available .dragAndDropBucket .dragAndDropItem {
    margin-right: 0.5em;
}

.step-AssignAbilityScores .available .dragAndDropBucket .dragAndDropItem:last-of-type {
    margin-right: 0 !important;
}