@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";
@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";

.command {
    cursor: pointer;
}

input[type="number"] {
    text-align: right;
}

input::-webkit-outer-spin-button, 
input::-webkit-inner-spin-button { margin-left: 20px; } 

#toplevel-navbar {
    z-index: 1030 !important;
}

.nav.nav-tabs {
    overflow-x: auto;
    overflow-y: hidden;
    flex-wrap: nowrap;
}

.nav.nav-tabs a {
    white-space: nowrap;
}

.nav.nav-tabs a.active {
    background: rgba(var(--bs-secondary-rgb));
}

.navbar-nav .btn {
    margin-right: 0.5em;
}

.btn .svg-inline--fa {
    margin-right: 0.5em;
}

#root .navbar {
    padding-left: 1em;
    padding-right: 1em;
}

#root > .navbar.bg-secondary {
    padding-left: 2em;
    padding-right: 1em;
}

.page-content {
    margin: 1em;
}

.markdown-inline, .markdown-inline p {
    display: inline;
}