.step-ryuutama-additional-bonuses table td, .step-ryuutama-additional-bonuses table th {
    background: #ccc;
    color: #000;
}

.step-ryuutama-additional-bonuses input[type="number"] {
    max-width: 75px;
}

.step-ryuutama-additional-bonuses .name-field {
    width: 100%;
    min-width: 50px;
}